body, html{
    margin: 0;
    padding: 0;
}
.buttons{
    display:flex;
    flex:1;
    height: 50%;
    align-items: center;
    justify-content: center;
    margin-top:50vh;
}
.innerDiv{
    width:10rem;
    padding: 1rem .5rem;
    border: black solid .4rem;
    border-radius:  .5rem;
    margin: 1rem;
    text-align: center;
    font-size: 1.5rem;
    background-color: rgba(89, 223, 247, 0.18);
}
#result{
    text-align: center;
    justify-content: center;
    display:flex;
    position:relative;
    top:300px;
    transform:scale(1.5);
}
#result p{
    color:red;
    border: black solid 1px;
    padding: 1rem 1rem;
    width:10rem;
    margin-top:0;
    margin-bottom:0;
}